<!-- views/admin/dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>

    <div class="container my-5">
        <h1 class="mb-3">Admin</h1>
            <a href="/admin/types" style="text-decoration: none;">
                <h4 class="mb-3">/ Subject_types</h4>
            </a>        
            <a href="/admin/subjects" style="text-decoration: none;">
                <h4 class="mb-3">/ Subjects</h4>
            </a> 
            <a href="/admin/type" style="text-decoration: none;">
                <h4 class="mb-3">/ Packages</h4>
            </a> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>