th, td, td.text-center {
    vertical-align: middle; /* Vertically center everything inside the cell */
}
.truncate {
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
    overflow: hidden;    /* Hides any text that overflows the container */
    text-overflow: ellipsis; /* Adds the ellipsis (...) to indicate the truncated text */
    max-width: 200px; /* Adjust to the width you want */
}

/* Card homepage */
.card {
    margin: auto;
    overflow: hidden; /* Hide any overflow from images */
    border-radius: 10px; /* Adds rounded corners */
}
.card-title {
    font-size: 42px;
    font-weight: bold;
}
.card img {
    width: 100%;
    height: 200px; /* Ensure the image fills the card height */
    object-fit: cover; /* Ensures the image covers the entire card area while maintaining its aspect ratio */
}
.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}
.badge-spacing {
    margin-right: 0.5rem; /* Adjust the spacing as needed */
}
.card-placeholder {
    background-color: #f5f5f5; /* Light gray background for placeholder */
    height: 200px; /* Set fixed height for consistency */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.justified-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}